.homepage__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.homepage__wrapper-copy {
  text-align: center;
}

.homepage__title {
  font-size: 25px;
  margin: 0 0 10px;
}

.homepage__description {
  font-size: 18px;
}

.homepage__search-bar {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #ccc;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
}


.homepage__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 20px;
  border-radius: 40px;
  background-color: transparent;
  font-size: 16px;
}

/* Element: homepage__search-icon */
.homepage__search-icon {
  position: absolute;
  left: 5px;
  font-size: 20px;
  color: #888;

  pointer-events: none;

}